.footer {
  height: 70px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #bdc3c7;
}

.year {
  font-size: 24px;
  margin-right: 30px;
  margin-left: 10px;
  color: #333;
}

.authorsList {
  display: flex;
}

.authorLinkWrapper {
  margin-right: 15px;
  padding: 6px 15px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.authorLinkWrapper:hover {
  background-color: rgb(58, 58, 58);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.authorLinkWrapper a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.authorLinkWrapper:hover a {
  color: #fff;
}
